{%- assign id = block.id |default: section.id -%}
<style>
    .{{id}}-image-with-text {
      margin-top: 5rem;
    }
    .{{id}}-image-with-text__sub-heading{
      font-size: 1.4em;
    }
    .{{id}}-image-with-text__heading{
      font-weight: bold;
      line-height: 1.2;
    }
    .{{id}}-image-with-text:not(.color-scheme-background-1) {
      margin-bottom: 5rem;
    }
    .{{id}}-image-with-text .grid__item{
        width: 100%;
        display:flex;
        align-items:center;
        justify-content: center;
      }
    @media screen and (min-width: 750px) {
      .{{id}}-image-with-text {
        margin-bottom: 5rem;
      }
      .{{id}}-image-with-text .grid__item{
        flex:1;
       
      }
      .{{id}}-image-with-text .grid__item{
        width: 100%;
        padding: 0.5em 0;
        display:flex;
        align-items:center;
        justify-content: center;
      }
    }

    .{{id}}-image-with-text .grid {
      margin-left: 0;
      margin-bottom: 0;
    }

    .{{id}}-image-with-text__grid {
      display:flex;flex-direction: column;
    }

    @media screen and (min-width: 750px) {
      .{{id}}-image-with-text__grid--reverse {
        flex-direction: row-reverse;
      }
     
    }

    .{{id}}-image-with-text__media {
      background-color: transparent;
      min-height: 100%;
    }

    .{{id}}-image-with-text__media--small {
      height: 19.4rem;
    }

    .{{id}}-image-with-text__media--large {
      height: 43.5rem;
    }

    @media screen and (min-width: 750px) {
      .{{id}}-image-with-text__media--small {
        height: 31.4rem;
      }

      .{{id}}-image-with-text__media--large {
        height: 69.5rem;
      }
    }

    .{{id}}-image-with-text__media--placeholder {
      background-color: rgba(var(--color-foreground), 0.04);
      position: relative;
      overflow: hidden;
    }

    .{{id}}-image-with-text__media--placeholder.{{id}}-image-with-text__media--adapt {
      height: 20rem;
    }

    @media screen and (min-width: 750px) {
      .{{id}}-image-with-text__media--placeholder.{{id}}-image-with-text__media--adapt {
        height: 30rem;
      }
    }

    .{{id}}-image-with-text__media--placeholder > svg {
      position: absolute;
      left: 50%;
      max-width: 80rem;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      fill: currentColor;
    }

    
    @media screen and (min-width: 750px) {
      .{{id}}-image-with-text__grid--reverse .{{id}}-image-with-text__content {
        margin-left: auto;
      }
    }

    @media screen and (min-width: 990px) {
      .{{id}}-image-with-text__content {
      }
      .{{id}}-image-with-text__content {
      display: grid;
      grid-template-areas:
      'heading space button'
      'text space button';
      grid-template-columns: auto auto auto ;
      width:100%;
    }
    .{{id}}-image-with-text__heading {
      /* margin-bottom: 0; */
      grid-area: heading;
    }
    .{{id}}-image-with-text__space,.{{id}}-image-with-text__space:empty {
      /* margin-bottom: 0; */
      grid-area: space;
      display:flex;
    }
    .{{id}}-image-with-text__text {
      grid-area: text;
      max-width: 60rem;
    }
    .{{id}}-image-with-text__content .button {
      grid-area: button;
      align-self: flex-start;
      white-space: nowrap;
    }
    }


    .{{id}}-image-with-text__content > .{{id}}-image-with-text__text:empty ~ a {
      margin-top: 2rem;
    }

    .{{id}}-image-with-text__content > :first-child:is(.{{id}}-image-with-text__heading) {
      margin-top: 0;
    }

    .{{id}}-image-with-text__content :last-child:is(.{{id}}-image-with-text__heading) {
      margin-bottom: 0;
    }

    .{{id}}-image-with-text__content .button + .{{id}}-image-with-text__text {
      margin-top: 2rem;
    }

    .{{id}}-image-with-text__content .{{id}}-image-with-text__text + .button {
      margin-top: 3rem;
    }

    .{{id}}-image-with-text__heading {
      /* margin-bottom: 0; */
    }
    .{{id}}-image-with-text__text p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .{{id}}-image-with-text__title{
      text-align: center;
      font-size: 3em;
    }
</style>

<div class="page-width {{id}}-image-with-text {% if section.settings.full_width %}{{id}}-image-with-text--full-width{% else %}{% endif %} color-scheme-{{ section.settings.color_scheme }}">
    <div class="{{id}}-image-with-text__grid color-{{ section.settings.color_scheme }}{% if section.settings.layout == 'text_first' %} {{id}}-image-with-text__grid--reverse{% endif %} grid grid--gapless grid--1-col grid--2-col-tablet">
        {%- for block in section.blocks -%}
            {% case block.type %}
                {%- when 'title' -%}
                    <h2 class="{{id}}-image-with-text__title">
                        {{ block.settings.title | escape }}
                    </h2>
            {%- endcase -%}
        {%- endfor -%}
        <div class="grid__item">
            <div style="max-width:{{section.settings.image.width}}px ;width:100%">
                <div class="{{id}}-image-with-text__media {{id}}-image-with-text__media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}{{id}}-image-with-text__media--placeholder placeholder{% endif %}" {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;" {% endif %}>
                    {%- if section.settings.image != blank -%}
                        <img src="{{ section.settings.image | img_url: '800x800' }}" sizes="(min-width: 1100px) 100vw, (min-width: 750px) 100vw, 100vw" alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}">
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </div>
            </div>

        </div>
        <div class="grid__item ">
            <div class="{{id}}-image-with-text__content {{id}}-image-with-text__content--{{ section.settings.height }}">
                <div class="{{id}}-image-with-text__space "></div>
                {%- for block in section.blocks -%}
                    {% case block.type %}
                        {%- when 'sub_heading' -%}
                            <div class="{{id}}-image-with-text__sub-heading" {{ block.shopify_attributes }}>
                                {{ block.settings.sub_heading | escape }}
                            </div>
                        {%- when 'heading' -%}
                            <h3 class="{{id}}-image-with-text__heading h2" {{ block.shopify_attributes }}>
                                {{ block.settings.heading | escape }}
                            </h3>
                        {%- when 'text' -%}
                            <div class="{{id}}-image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                        {%- when 'button' -%}
                            {%- if block.settings.button_label != blank -%}
                                <a {% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}" {% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {% if block.settings.button_link == blank %} aria-disabled="true" {% endif %} {{ block.shopify_attributes }}>
                                    {{ block.settings.button_label | escape }}
                                </a>
                            {%- endif -%}
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>